[Interface]
Address = {{ wireguard_client_ip }}/24
PrivateKey = {{ wireguard_client_private_key_content.stdout }}
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
Endpoint = {{ wireguard_server_endpoint }}
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
